*
{
    margin: 0;
    padding: 0;
}
 body
 {
     font-family: "DejaVu Sans Condensed";
     overflow-x: hidden;
     background: #222;
 }
p
{
    text-align: center  ;
}
h1
{
    text-align: center;
}
/*side menu start*/
.menuIcon
{
    position: fixed;
    margin-left: 30px;
    margin-top: 20px;
}
.sidenav
{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a
{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover
{
    color: #f1f1f1;
}

.sidenav .closebtn
{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/*side menu end*/

/*random memes start*/
.randomMimes
{

}
.randomMimes h1
{
    font-size: 200%;
}
.randomMimes h1, h3
{
    color: #fff;
    text-align: center;
    position: relative; top: 10px;
}
.theHolder
{
    text-align: center;
}
.theRandomMeme
{
    width: 600px;
}
.newMemeButtom
{
    text-align: center;
}
.newMemeButtom button
{
    margin: 20px;
    font-size: 40px;
    padding: 20px;
    border-radius: 10px;
}
/*random memes end*/
/*all memes start*/
.allMines
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150%;
}
.allMines h1
{
    text-align: center;
    color: #fff;
    font-size: 50px;
}
.picCon
{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.picCon img
{
    width: 400px;
    height: auto;
    margin: 20px;
    align-items: center;
}
/*all memes end*/

/*edit1 start*/
.Edit1
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}
/*edit1 start*/